
/*PHPuControl*/
/*default_theme*/
/*V1.0.0*/
/*MSCRATCH*/
/*MMXXV*/

* {
box-sizing: border-box;
padding: 0;
margin: 0;
}

/*root*/

:root {
font-size: 62.5%; /*10PX*/

--body_bg_color: #383f48;
--body_font_family: 'Roboto';
--body_font_color: #E5E5E5;
--body_line_height: 1.5;

/*nav*/

--navbar_bg_color: #45505D;
--navbar_font_color: #FFFFFF;
--navbar_title_font_family: 'Roboto';
--navbar_title_font_size: 2rem;
--navbar_title_font_weight: 500;

--navbar_links_font_family: 'Roboto';
--navbar_links_font_size: 1.5rem;
--navbar_links_font_weight: 500;
--navbar_links_font_color: #E5E5E5;
--navbar_links_hover_bg_color: #505C6D;

--navbar_toggle_button_font_family: 'Roboto';
--navbar_toggle_button_font_size: 2rem;
--navbar_toggle_button_font_weight: 500;
--navbar_toggle_button_font_color: #FFFFFF;
--navbar_toggle_bg_color: #45505D;

/*nav*/

/*wrapper*/

--wrapper_border-radius: 5px;
--wrapper_title_bg_color: #45505D;
--wrapper_bg_color: #343A46;
--wrapper_font_size: 1.5rem;
--wrapper_font_weight: 400;

/*wrapper*/

/*template*/

--template_wrapper_border-radius: 5px;
--template_wrapper_title_bg_color: #45505D;
--template_wrapper_bg_color: #343A46;
--template_wrapper_font_size: 1.5rem;
--template_wrapper_font_weight: 400;

/*template*/

/*forms*/

--form_default_border_radius: 5px;
--form_default_bg_color: #3B4252;
--form_default_font_family: 'Roboto';
--form_default_font_size: 1.5rem;
--form_default_font_weight: 400;
--form_default_font_color: #E5E5E5;
--form_default_focus: #404657;

--label_default_font_weight: 500;
--label_default_font_color: #E5E5E5;

--placeholder_font_family: 'Roboto';
--placeholder_font_size: 1.5rem;
--placeholder_font_weight: 500;
--placeholder_font_color: #E5E5E5;

/*forms*/

/*message*/

--msg_font_family: 'Roboto';
--msg_font_size: 1.5rem;
--msg_font_color: #E5E5E5;

--msg_btn_font_family: 'Roboto';
--msg_btn_font_size:1.5rem;
--msg_btn_font_color: #E5E5E5;

/*message*/

/*buttons*/

--btn_static_mtb_border_radius: 5px;
--btn_static_mtb_bg_color: #586e7b;
--btn_static_mtb_font_family: 'Roboto';
--btn_static_mtb_font_size: 1.5rem;
--btn_static_mtb_font_weight: 500;
--btn_static_mtb_font_color: #FFFFFF;
--btn_static_mtb_hover: #6a8494;

--btn_dynamic_mtb_border_radius: 5px;
--btn_dynamic_mtb_bg_color: #586e7b;
--btn_dynamic_mtb_font_family: 'Roboto';
--btn_dynamic_mtb_font_size: 1.5rem;
--btn_dynamic_mtb_font_weight: 500;
--btn_dynamic_mtb_font_color: #FFFFFF;
--btn_dynamic_mtb_hover: #6a8494;

/*buttons*/

/*footer*/

--footer_font_family: 'Roboto';
--footer_font_size: 1.5rem;

/*footer*/

/*headings*/

--h3_font_font_family: 'Roboto';
--h3_font_size: 1.5rem;
--h3_font_weight: 500;
--h3_font_text-decoration: none;
--h3_font_color: #FFFFFF;

/*headings*/

/*cct*/

--cct_overlay_bg_color: rgba(0,0,0,0.7);
--cct_border_radius: #5px;
--cct_title_bg_color: #45505D;

--cct_bg_color: #393E46;
--cct_font_size: 1.5rem;

/*cct*/

/*paragraphs*/

--paragraph_nm: unset;
--paragraph_mtb: 1rem 0rem 1rem 0rem;

/*paragraphs*/

/*links*/

--default_link_color: #E5E5E5;

/*links*/

}

/*root*/

/*body*/

body {
background-color: var(--body_bg_color);
font-family: var(--body_font_family);
color: var(--body_font_color);
line-height: var(--body_line_height);
}

/*body*/

/*nav*/

.navbar {
position: relative;
display: flex;
justify-content: space-between;
align-items: center;
background-color: var(--navbar_bg_color);
color: var(--navbar_font_color);
}

.navbar_title {
margin: 1rem;
font-family: var(--navbar_title_font_family);
font-size: var(--navbar_title_font_size);
font-weight: var(--navbar_title_font_weight);
}

.navbar_links {
height: 100%;
}

.navbar_links ul {
display: flex;
margin: 0;
padding: 0;
}

.navbar_links li {
list-style: none;
}

.navbar_links li a {
display: block;
padding: 1.5rem;
font-family: var(--navbar_links_font_family);
font-size: var(--navbar_links_font_size);
font-weight: var(--navbar_links_font_weight);
color: var(--navbar_links_font_color);
text-decoration: none;
}

.navbar_links a:hover {
background-color: var(--navbar_links_hover_bg_color);
transition: all 0.2s ease-in-out;
}

.toggle_button {
position: absolute;
top: 1rem;
right: 1rem;
display: none;
font-family: var(--navbar_toggle_button_font_family);
font-size: var(--navbar_toggle_button_font_size);
font-weight: var(--navbar_toggle_button_font_weight);
color: var(--navbar_toggle_button_font_color);
text-decoration: none;
}

/*nav*/

/*wrapper*/

.main_wrapper {
width: 100%;
margin-top: 7.5rem;
margin-bottom: 7.5rem;
}

.wrapper_title {
padding: 1.5rem;
border-top-left-radius: var(--wrapper_border-radius);
border-top-right-radius: var(--wrapper_border-radius);
background-color: var(--wrapper_title_bg_color);
}

.wrapper_content {
padding: 1.5rem;
}

.wrapper_narrow_bg {
width: 100%;
max-width: 500px;
margin: 0 auto;
margin-bottom: 5rem;
border-radius: var(--wrapper_border-radius);
background-color: var(--wrapper_bg_color);
font-size: var(--wrapper_font_size);
font-weight: var(--wrapper_font_weight);
text-align: left;
}

.wrapper_narrow_bg:last-of-type {
margin-bottom: 0rem;
}

.wrapper_primary_bg {
width: 100%;
max-width: 750px;
margin: 0 auto;
background-color: var(--wrapper_bg_color);
border-radius: var(--wrapper_border-radius);
font-size: var(--wrapper_font_size);
font-weight: var(--wrapper_font_weight);
text-align: left;
}

/*wrapper*/

/*template row*/

.template_row {
display: flex;
flex-direction: row;
width: 100%;
max-width: 1250px;
margin: 0 auto;
gap: 5rem;
}

.template_column_1 {
max-width: 25%;
width: 100%;
border-top-left-radius: var(--template_wrapper_border-radius);
border-top-right-radius: var(--template_wrapper_border-radius);
}

.template_column_2 {
max-width: 75%;
width: 100%;
border-top-left-radius: var(--template_wrapper_border-radius);
border-top-right-radius: var(--template_wrapper_border-radius);
}

.template_wrapper_title {
padding: 1.5rem;
border-top-left-radius: var(--template_wrapper_border-radius);
border-top-right-radius: var(--template_wrapper_border-radius);
background-color: var(--template_wrapper_title_bg_color);
}

.template_wrapper_content {
padding: 1.5rem;
}

.template_wrapper {
width: 100%;
margin-bottom: 5rem;
border-radius: var(--template_wrapper_border-radius);
background-color: var(--template_wrapper_bg_color);
font-size: var(--template_wrapper_font_size);
font-weight: var(--template_wrapper_font_weight);
text-align: left;
}

.template_wrapper:last-of-type {
margin-bottom: 0rem;
}

/*template row*/

/*forms*/

input[type="text"].form_text_default {
width: 100%;
margin-bottom: 1rem;
padding: 1.5rem;
border-radius: var(--form_default_border_radius);
border: none;
outline: none;
background-color: var(--form_default_bg_color);
font-family: var(--form_default_font_family);
font-size: var(--form_default_font_size);
font-weight: var(--form_default_font_weight);
text-align: left;
color: var(--form_default_font_color);
-webkit-appearance: none;
}

input[type="text"].form_text_default:focus {
background-color: var(--form_default_focus);
transition: all 0.2s ease-in-out;
}

input[type="password"].form_password_default {
width: 100%;
margin-bottom: 1rem;
padding: 1.5rem;
border-radius: var(--form_default_border_radius);
border: none;
outline: none;
background-color: var(--form_default_bg_color);
font-family: var(--form_default_font_family);
font-size: var(--form_default_font_size);
font-weight: var(--form_default_font_weight);
text-align: left;
color: var(--form_default_font_color);
-webkit-appearance: none;
}

input[type="password"].form_password_default:focus {
background-color: var(--form_default_focus);
transition: all 0.2s ease-in-out;
}

textarea.textarea_default {
width: 100%;
min-height: 250px;
margin-bottom: 1.5rem;
padding: 1.5rem;
border-radius: var(--form_default_border_radius);
border: none;
resize: none;
outline: none;
background-color: var(--form_default_bg_color);
font-family: var(--form_default_font_family);
font-size: var(--form_default_font_size);
font-weight: var(--form_default_font_weight);
text-align: left;
color: var(--form_default_font_color);
}

textarea.textarea_default:focus {
background-color: var(--form_default_focus);
transition: all 0.2s ease-in-out;
}

label.label_default {
display: inline-block;
margin-top: 1rem;
margin-bottom: 1rem;
font-weight: var(--label_default_font_weight);
text-decoration: none;
color: var(--label_default_font_color);
}

input::placeholder {
font-family: var(--placeholder_font_family);
font-size: var(--placeholder_font_size);
font-weight: var(--placeholder_font_weight);
text-align: left;
color: var(--placeholder_font_color);
}

.btn_upload, .btn_submit {
margin-top: 1.5rem;
margin-bottom: 1.5rem;
padding: 1.5rem;
border-radius: var(--btn_dynamic_mtb_border_radius);
border: none;
background-color: var(--btn_dynamic_mtb_bg_color);
font-family: var(--btn_dynamic_mtb_font_family);
font-size: var(--btn_dynamic_mtb_font_size);
font-weight: var(--btn_dynamic_mtb_font_weight);
text-align: left;
text-decoration: none;
color: var(--btn_dynamic_mtb_font_color);
cursor: pointer;
}

.btn_upload:hover, .btn_submit:hover {
background-color: var(--btn_dynamic_mtb_hover);
transition: all 0.2s ease-in-out;
}

.btn_submit {
pointer-events: none;
}

.btn_submit.active {
pointer-events: auto;
}

#file_input {
display: none;
}

.form_column {
display: flex;
flex-direction: column;
}

/*forms*/

/*cct*/

.cct_wrapper {
position: fixed;
bottom: 0;
width: 100%;
height: 100%;
z-index: 1;
background-color: var(--cct_overlay_bg_color);
}

.cct_title {
padding: 1.5rem;
border-top-left-radius: var(--cct_border-radius);
border-top-right-radius: var(--cct_border-radius);
background-color: var(--cct_title_bg_color);
}

.cct_content {
padding: 1.5rem;
}

.cct {
width: 100%;
background-color: var(--cct_bg_color);
font-size: var(--cct_font_size);
text-align: left;
}

/*cct*/

/*message*/

.msg_default {
padding: 1.5rem;
font-family: var(--msg_font_family);
font-size: var(--msg_font_size);
text-align: left;
color: var(--msg_font_color);
}

.msg_btn  {
margin-top: 0.5rem;
margin-bottom: 0.5rem;
border: none;
background-color: transparent;
font-family: var(--msg_btn_font_family);
font-size: var(--msg_btn_font_size);
font-weight: normal;
text-decoration: underline;
color: var(--msg_btn_font_color);
cursor: pointer;
}

/*message*/

/*buttons*/

.btn_static_mtb  {
display: inline-block;
margin-top: 1.5rem;
margin-bottom: 1.5rem;
padding: 1.5rem;
border-radius: var(--btn_static_mtb_border_radius);
border: none;
background-color: var(--btn_static_mtb_bg_color);
font-family: var(--btn_static_mtb_font_family);
font-size: var(--btn_static_mtb_font_size);
font-weight: var(--btn_static_mtb_font_weight);
text-align: left;
text-decoration: none;
color: var(--btn_static_mtb_font_color);
cursor: pointer;
}

.btn_static_mtb:hover  {
background-color: var(--btn_static_mtb_hover);
transition: all 0.2s ease-in-out;
}

.btn_dynamic_mtb {
margin-top: 1.5rem;
margin-bottom: 1.5rem;
padding: 1.5rem;
border-radius: var(--btn_dynamic_mtb_border_radius);
border: none;
background-color: var(--btn_dynamic_mtb_bg_color);
font-family: var(--btn_dynamic_mtb_font_family);
font-size: var(--btn_dynamic_mtb_font_size);
font-weight: var(--btn_dynamic_mtb_font_weight);
text-align: left;
text-decoration: none;
color: var(--btn_dynamic_mtb_font_color);
cursor: pointer;
}

.btn_dynamic_mtb:hover  {
background-color: var(--btn_dynamic_mtb_hover);
transition: all 0.2s ease-in-out;
}

/*buttons*/

/*footer*/

.footer_primary {
width: 100%;
padding: 1.5rem;
font-family: var(--footer_font_family);
font-size: var(--footer_font_size);
text-align: left;
}

.footer_secondary {
width: 100%;
max-width: 500px;
margin: 0 auto;
padding: 1.5rem;
font-family: var(--footer_font_family);
font-size: var(--footer_font_size);
text-align: left;
}

/*footer*/

/*headings*/

h3 {
font-family: var(--h3_font_font_family);
font-size: var(--h3_font_size);
font-weight: var(--h3_font_weight);
text-decoration: var(--h3_font_text-decoration);
color: var(--h3_font_color);
}

/*headings*/

/*global, affects all paragraphs*/

p.paragraph_nm {
margin: var(--paragraph_nm);
}

p.paragraph_mtb {
margin: var(--paragraph_mtb);
}

/*global, affects all paragraphs*/

/*global, affects all links*/

a.default_link {
text-decoration: none;
color: var(--default_link_color);
}

a.default_link:hover {
text-decoration: underline;
}

/*global, affects all links*/

/*global, affects all lists.*/

ul.ul_mtb {
margin-top: 1rem;
margin-bottom: 1rem;
}

li.list_style_none {
list-style: none;
}

li.li_mtb {
margin-top: 1rem;
margin-bottom: 1rem;
list-style: none;
}

ul li, ol li {
list-style-position: inside;
}

/*global, affects all lists.*/

/*profile_image*/

.profile_image {
width: 100%;
object-fit: fill;
}

/*profile_image*/

/*responsive elements*/

@media only screen and (max-width: 1200px) {

.main_wrapper {
margin: 7.5rem 2rem 7.5rem 2rem;
width: auto;
}

}

@media only screen and (max-width: 992px) {

.main_wrapper {
margin: 5rem 1.5rem 5rem 1.5rem;
width: auto;
}

.navbar {
flex-direction: column;
align-items: flex-start;
}

.toggle_button {
display: flex;
}

.navbar_links {
display: none;
width: 100%;
}

.navbar_links ul {
width: 100%;
flex-direction: column;
}

.navbar_links ul li {
text-align: left;
}

.navbar_links ul li a {
padding: .5rem 1rem;
}

.navbar_links.active {
display: flex;
background-color: var(--navbar_toggle_bg_color);
}

.template_row {
flex-direction: column;
}

.template_column_1 {
max-width: 100%;
}

.template_column_2 {
max-width: 100%;
}

}

@media only screen and (max-width: 768px) {

.main_wrapper {
margin: 5rem 1.5rem 5rem 1.5rem;
width: auto;
}

.navbar {
flex-direction: column;
align-items: flex-start;
}

.toggle_button {
display: flex;
}

.navbar_links {
display: none;
width: 100%;
}

.navbar_links ul {
width: 100%;
flex-direction: column;
}

.navbar_links ul li {
text-align: left;
}

.navbar_links ul li a {
padding: .5rem 1rem;
}

.navbar_links.active {
display: flex;
background-color: var(--navbar_toggle_bg_color);
}

.template_row {
flex-direction: column;
}

.template_column_1 {
max-width: 100%;
}

.template_column_2 {
max-width: 100%;
}

}

@media only screen and (max-width: 480px) {

.main_wrapper {
margin: 5rem 1.5rem 5rem 1.5rem;
width: auto;
}

.navbar {
flex-direction: column;
align-items: flex-start;
}

.toggle_button {
display: flex;
}

.navbar_links {
display: none;
width: 100%;
}

.navbar_links ul {
width: 100%;
flex-direction: column;
}

.navbar_links ul li {
text-align: left;
}

.navbar_links ul li a {
padding: .5rem 1rem;
}

.navbar_links.active {
display: flex;
background-color: var(--navbar_toggle_bg_color);
}

.template_row {
flex-direction: column;
}

.template_column_1 {
max-width: 100%;
}

.template_column_2 {
max-width: 100%;
}

}

/*responsive elements*/

/*fonts*/

/* roboto-300 - latin */
@font-face {
font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
font-family: 'Roboto';
font-style: normal;
font-weight: 300;
src: url('fonts/roboto-v50-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-300italic - latin */
@font-face {
font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
font-family: 'Roboto';
font-style: italic;
font-weight: 300;
src: url('fonts/roboto-v50-latin-300italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-regular - latin */
@font-face {
font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
src: url('fonts/roboto-v50-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-italic - latin */
@font-face {
font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
font-family: 'Roboto';
font-style: italic;
font-weight: 400;
src: url('fonts/roboto-v50-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-500 - latin */
@font-face {
font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
src: url('fonts/roboto-v50-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-500italic - latin */
@font-face {
font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
font-family: 'Roboto';
font-style: italic;
font-weight: 500;
src: url('fonts/roboto-v50-latin-500italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-600 - latin */
@font-face {
font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
src: url('fonts/roboto-v50-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-600italic - latin */
@font-face {
font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
font-family: 'Roboto';
font-style: italic;
font-weight: 600;
src: url('fonts/roboto-v50-latin-600italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-700 - latin */
@font-face {
font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
src: url('fonts/roboto-v50-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-700italic - latin */
@font-face {
font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
font-family: 'Roboto';
font-style: italic;
font-weight: 700;
src: url('fonts/roboto-v50-latin-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-800 - latin */
@font-face {
font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
font-family: 'Roboto';
font-style: normal;
font-weight: 800;
src: url('fonts/roboto-v50-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-800italic - latin */
@font-face {
font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
font-family: 'Roboto';
font-style: italic;
font-weight: 800;
src: url('fonts/roboto-v50-latin-800italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/*fonts*/
